:root {
  --primary-color: #5eb9f0;
  --paragraph-color: #60697b;
  --heading-color: #343f52;
  --skyblue: #e5f4fd;
  --white: #ffffff;
  --light-gray: #f0f8fe;
  --gray: #fefefe;
}

body {
  font-family: "Urbanist", sans-serif;
}

details {
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
}

footer {
  background-color: var(--heading-color);
  padding: 50px 0;

  & h2 {
    color: var(--white);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--heading-color);
  font-size: 54px;
  font-weight: 600;
  line-height: 62px;

  & span {
    color: var(--primary-color);
  }
}

h2 {
  color: var(--heading-color);
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
}

h3 {
  color: var(--heading-color);
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
}

main {
  /* max-width: 1280px;
  margin: 0 auto; */
}

nav {
  padding: 20px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

p {
  color: var(--paragraph-color);
  font-size: 17px;
  line-height: 29px;
}

summary {
  background-color: var(--white);
  font-size: 18px;
  font-weight: 600;

  &::marker {
    color: var(--primary-color);
  }
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    text-decoration: none;
  }
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 12%);
  color: var(--white);
  display: block;
  height: fit-content;
  padding: 16px;
  width: fit-content;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.faqs {
  background-color: var(--gray);
  padding: 50px 0 100px;

  & h2,
  & p {
    margin-bottom: 20px;
  }
}

.faqs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.faqs-item {
  box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 12%);
  cursor: pointer;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & .btn-primary {
    justify-self: center;
  }
}

.hero {
  padding: 60px 0;

  & h1 {
    margin-bottom: 20px;
    max-width: 405px;
  }

  & p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Projects styles */
.projects {
  padding: 50px 0 100px;

  & h2 {
    margin: 0 auto 50px;
    max-width: 780px;
    text-align: center;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Services Styles */
.services {
  background-color: var(--light-gray);
  padding: 50px 0;

  & h2 {
    max-width: 655px;
    margin: 0 auto 70px;
    text-align: center;
  }
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  text-align: center;

  & h3 {
    margin-bottom: 15px;
  }

  & a {
    color: var(--primary-color);
    text-decoration: none;
  }

  & img {
    min-height: 230px;
  }

  & p {
    margin: 0 auto 20px;
    max-width: 316px;
  }
}

/* Strategy styles */
.strategy {
  background-color: var(--gray);
  padding: 50px 0 100px;

  & h2 {
    margin-bottom: 30px;
  }

  & p {
    margin-bottom: 20px;
  }
}

.strategy-container {
  align-items: center;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.strategy-cards-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.strategy-card {
  align-items: center;
  background-color: var(--white);
  box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 12%);
  display: flex;
  gap: 20px;
  max-width: 520px;
  padding: 20px;
  position: relative;

  &:nth-child(2) {
    left: 50px;
  }

  &:nth-child(3) {
    left: 20px;
  }

  & .order {
    background-color: var(--skyblue);
    border-radius: 100%;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    padding: 10px 12px;
    width: fit-content;
  }
}

/* Team styles */
.team {
  background-color: var(--gray);
  padding: 50px 0 100px;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 20px; /* Optional gap between columns */
}

.team-item {
  background-color: var(--white);
  box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 12%);
  padding: 20px;

  & h3 {
    font-size: 20px;

    & + p {
      color: #aab0bc;
      text-transform: uppercase;
    }
  }
}

.team-list {
  display: grid;
  gap: 20px;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 1fr);
}

.team-statistics {
  display: flex;
  gap: 100px;
}

.team-statistics-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;

  & h3 {
    font-size: 41px;
  }

  & .image {
    background-color: var(--skyblue);
    border-radius: 100%;
    padding: 16px;
    width: fit-content;
  }

  & img {
    height: 26px;
  }
}

/* Testimonial styles */
.testimonials {
  background-color: var(--light-gray);
  padding: 70px 0;

  & h2 {
    max-width: 670px;
    margin: 0 auto 50px;
    text-align: center;
  }
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonials-item {
  background-color: var(--white);
  padding: 20px;

  & p {
    font-size: 18px;
  }
}

.testimonials-author {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;

  & img {
    max-width: 70px;
  }
}
